@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  height: 100%;
  /* background: linear-gradient(rgba(190, 190, 190, 0.7),rgba(184, 183, 186, 0.7)),url('https://www.lankadoctor.com/images/banner.jpg') no-repeat center center/cover; */
}

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  backdrop-filter: blur(3px);
  
}
.popup-overla {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  backdrop-filter: blur(3px);
}

.popup-box {
 
  padding: 25px 35px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 1.5rem;
  font-weight:  bold;
  color: #121111;
}

.popup-spinner {
  width: 30px;
  height: 30px;
  border: 3px solid #ddd;
  border-top: 3px solid #f9a825;
  border-radius: 50%;
  animation: spin 0.9s linear infinite;
}

.login-container {
  /* background: rgba(174, 167, 167, 0.15); */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 20px;
  padding: 3rem;
  width: 400px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: relative;
  color: #fff;
}



h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #1f1f1f;
  font-weight: bold;
}

.input-group {
  position: relative;
  margin-bottom: 2rem;
}

.input-group input {
  width: 100%;
  padding: 0.6rem 2.4rem 0.6rem 2.2rem;
  border: none;
  border-radius: 10px;
  outline: none;
  /* background-color: rgba(255, 255, 255, 0.2); */
  
}

.input-group .icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #626060;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.options a {
  color: #ff0000;
  text-decoration: none;
  margin-left: 10px;
}
.options label{
    color: #000000;
}
.spinner {
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  border-top: 2px solid #333;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.login-btn {
  background-color: rgb(245, 189, 78);
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  gap: 8px;
  
}
button[disabled] {
  opacity: 0.7;
  cursor: not-allowed;
}


.register-link {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 1rem;
  color: #ff0000;
}

.register-link a {
    margin-left: 30px;
    color: #1f1f1f;
  
  text-decoration: underline;
}
