.doctor-container4617 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 30px auto;
    
  }
  
  .image-container4617 {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .doctor-image4617 {
    width: 450px;
    height: auto;
    border-radius: 10px;
    margin-left: 350px;
    
  }
  .form-container4617 {
    flex: 1;
    max-width: 650px;
    background: #fbc787;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center; 
    align-items: center; 
    margin: 0 auto; 
    margin-right: 50px;
    margin-top: 50px;
    
  
    
  }
  
  .form-title4617 {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .form4617 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .form-group4617 {
    width: 47%; 
  }
  
  .full-width {
    width: 100%; 
  }
  
  .input-field4617 {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
   
  }
  
  .radio-group4617 {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-right: 5px; 
    margin-left: 5px; 
  }
  
  .submit-button4617 {
    width: 30%;
    background-color: #ea8305cb;
    color: rgb(5, 5, 5);
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
    size: 10px;
    margin-left: 250px;
  }
  
  .submit-button4617:hover {
    background-color: #e67e00;
  }
  
  .image-preview4617 {
    width: 150px;
    height: 100px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    object-fit: cover;
    background-color: white;
  }
  .error {
    color: red;
    margin-top: 5px;
  }
  .custom-swal-popup4617 {
    font-family: Arial, sans-serif;
    padding: 20px;
    border-radius: 8px;
    background-color: #f8f9fa;
  }
  
  .custom-swal-title4617 {
    color: #f84610;
    font-weight: bold;
    font-size: 24px;
  }
  
  .custom-swal-confirm-button4617 {
    background-color: #e32929;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .custom-swal-confirm-button4617:hover {
    background-color: #bf2020;
  }
  .custom-swal-content4617 {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    margin-bottom: 50px;
  }
  .custom-swal-icon4617 {
    color: red; /* Change icon color to red */
  }