.da-form-group{
    margin-bottom: 15px;
    padding: 10% 25%;
    

.da-control-label{
    display: block;
    margin-bottom: 5px;
}

.da-form-control {
    display: block;
    width: 70%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    
  }

  .da-btn-update{
    background-color: #04AA6D; 
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
  }

  .da-btn-delete{
    background-color: rgb(231, 30, 30); 
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
  }